# ignore all .isopen and .set files
*.isopen
*.set
EasyFunctionBlock.exe
EasyModule.exe

# ignore all files in the Temp/Diagnosis/Binaries subfolders
Diagnosis/
Temp/
Binaries/
HMI screenshot/
